// modules/iconfont.scss

@font-face {
  font-family: "iconfont";
  src: url("../assets/fonts/iconfont.woff") format("woff"), url("../assets/fonts/iconfont.ttf") format("truetype");
}

.icon {
  font-family: "iconfont" !important;
  font-size: 18 * $size;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-carat-up:before {
  content: "\e655";
}

.i-carat-right:before {
  content: "\e656";
}

.i-carat-bottom:before {
  content: "\e658";
}

.i-carat-left:before {
  content: "\e659";
}

.i-delete:before {
  content: "\e68c";
}

.i-qrcode:before {
  content: "\e647";
}

.i-edit:before {
  content: "\e6ee";
}

.i-search:before {
  content: "\e634";
}

.i-phone:before {
  content: "\e600";
}

.i-password:before {
  content: "\e806";
}

.i-exchange:before {
  content: "\e8f8";
}

.i-copy:before {
  content: "\ea43";
}

.i-close:before {
  content: "\e87e";
}

.i-plus:before {
  content: "\e7b0";
}

.i-minus:before {
  content: "\e7b1";
}

.i-share:before {
  content: "\e626";
}

.i-empty:before {
  content: "\e812";
}