.layout-header {
  z-index: 1;
  display: flex;
  height: 4.6 * $size;
  color: $white-color;
  background-color: $base-color;
  box-shadow: 0 0.2 * $size 0.3 * $size 0 rgba(0, 0, 0, 0.18);
  align-items: center;

  .logo {
    // width: 20 * $size;
    cursor: pointer;

    img {
      height: 3.2 * $size;
      margin: 0 0.8 * $size;
      vertical-align: middle;
      background-color: $white-color;
      border-radius: 50%;
    }

    span {
      font-size: 1.6 * $size;
      text-shadow: 0 0.2 * $size 0.3 * $size 0 rgba(0, 0, 0, 0.28);
    }
  }

  .header-nav {
    padding: 0 2 * $size;
    text-align: right;
    flex: auto 1 1;

    .el-dropdown-link {
      color: $white-color;
      cursor: pointer;

      img {
        width: 2 * $size;
        margin-right: 0.5 * $size;
        background-color: $white-color;
        border-radius: 2 * $size;
      }
    }
  }
}