// modules/button.scss

.btn {
  position: relative;
  display: inline-flex;
  height: 3 * $size;
  min-width: 7.8 * $size;
  padding: 0 1 * $size;
  font-size: 1.4 * $size;
  color: $white-color;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  @include ellipsis;
  background-color: $base-color;
  border: 0.1 * $size solid $base-color;
  border-radius: 0.2 * $size;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $base-hover-color;
  }

  &:active {
    background-color: $base-active-color;
  }
}

.btn-round {
  border-radius: 8 * $size;
}

.btn-plain {
  color: $base-color;
  background-color: transparent;

  &:hover {
    color: $white-color;
  }
}

.btn-default {
  color: $font-color;
  background-color: $white-color;
  border-color: $border-color;

  &:hover,
  &:active {
    color: $base-color;
    background-color: $white-color;
    border-color: $base-color;
  }
}

.btn-loading {
  opacity: 0.6;
  cursor: not-allowed;

  &:before {
    display: inline-block;
    content: "";
    width: 1.2 * $size;
    height: 1.2 * $size;
    margin-right: 0.8 * $size;
    border-width: 0.2 * $size;
    border-style: solid;
    border-color: transparent rgba($white-color, 1) rgba($white-color, 1) transparent;
    border-radius: 50%;
    animation: rotating 0.7s linear infinite;
  }
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}