// modules/iconfont.scss

@font-face {
  font-family: "iconfont";
  src: url('../assets/fonts/iconfont.woff') format('woff'), url('../assets/fonts/iconfont.ttf') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 1.8 * $size;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-plus:before {
  content: "\e767";
}

.i-minus:before {
  content: "\e768";
}

.i-system:before {
  content: "\e614";
}

.i-account:before {
  content: "\e701";
}

.i-delete:before {
  content: "\e616";
}

.i-disable:before {
  content: "\e641";
}

.i-phone:before {
  content: "\e608";
}

.i-edit:before {
  content: "\e736";
}

.i-outdent:before {
  content: "\e6a6";
}

.i-indent:before {
  content: "\e6aa";
}

.i-return:before {
  content: "\e6d9";
}

.i-record:before {
  content: "\e6f7";
}

.i-filter:before {
  content: "\e60f";
}

.i-search:before {
  content: "\e62c";
}

.i-reset:before {
  content: "\e603";
}

.i-user:before {
  content: "\e625";
}

.i-detail:before {
  content: "\e60b";
}

.i-empty:before {
  content: "\e812";
}

.i-password:before {
  content: "\e806";
}

.i-download:before {
  content: "\e888";
}

.i-upload:before {
  content: "\e88c";
}