// modules/panel.scss

.panel {
  display: flex;
  margin-bottom: 2 *$size;
  border: 0.1 *$size solid $border-color;
  flex-direction: column;

  .panel-header {
    display: flex;
    padding: 1 * $size;
    line-height: 1.8 * $size;
    border-bottom: 0.1 * $size solid $border-color;
    align-items: center;

    span {
      width: 0;
      flex: 1;
    }
  }

  .panel-body {
    padding: 2 * $size;
    flex: 1;
  }
}