// modules/section-search.scss

.section-search {
  position: absolute;
  top: 3.8 * $size;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  width: 41.5 * $size;
  background-color: $white-color;
  box-shadow: 0 0 1 * $size 0 rgba(0, 0, 0, 0.08);
  flex-direction: column;

  .section-title {
    padding: 1.5 * $size 1 * $size;
    line-height: 1.8 * $size;
    font-size: 1.6 * $size;
    border-bottom: 0.1 * $size solid $border-color;
  }

  form {
    height: 0;
    padding: 0 2 * $size 2 * $size;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
  }

  .el-form-item {
    margin-bottom: 0;
  }

  .el-form-item__label {
    display: block;
    float: none;
    text-align: left;
  }

  .el-date-editor {
    width: 100% !important;
  }

  .form-btn {
    padding-top: 0.7 * $size;
    padding-bottom: 0.7 * $size;
  }
}