// modules/table.scss

.section-loading {
  display: flex;
  height: 0;
  padding: 2 * $size;
  background-color: $white-color;
  // box-shadow: 0 $size * 0.1 $size * 0.1 0 rgba(0, 0, 0, 0.18);
  flex: 1;
  justify-content: center;
  align-items: center;
}

.section-table {
  height: 0;
  background-color: $white-color;
  overflow: hidden;
  // box-shadow: 0 $size * 0.1 $size * 0.1 0 rgba(0, 0, 0, 0.18);
  flex: 1;
}

.el-table {
  display: flex;
  height: 100%;
  flex-direction: column;

  .el-table__body-wrapper {
    height: 0;
    overflow-y: auto;
    flex: 1;
  }

  .el-table__header-wrapper {
    thead {
      font-weight: 700;
      color: $dark-color;

      .no-select-all {
        .el-checkbox {
          display: none;
        }
      }
    }

    th {
      padding: 0.8 * $size 0;
      // line-height: 2 * $size;
      background-color: #f1f2f3;
      border-width: 0 !important;
    }
  }

  td {
    padding: 0.7 * $size 0 !important;
    border-width: 0 !important;
  }

  tbody {
    tr:nth-child(2n) {
      background-color: #fbfbfb;
    }
  }

  .image {
    width: 8 * $size;
  }

  .avatar {
    width: 3.8 * $size;
  }

  a {
    color: $base-color;
    margin: 0 0.3 * $size;
  }

  .delete {
    color: $danger-color;
  }

  .disabled {
    color: $gray-color;
    cursor: not-allowed;
  }

  .cell {
    &:empty {
      &::before {
        content: "-";
      }
    }
  }

  .flex {
    display: flex;
    align-items: center;

    input {
      width: 0;
      margin-left: 0.5 * $size;
      flex: 1;
    }
  }
}

.pagination-box {
  display: flex;
  padding: 0.8 * $size 1.2 * $size 0.8 * $size 1.5 * $size;
  @include ellipsis;
  align-items: center;

  .total {
    flex: 1;
  }

  .el-select {
    .el-input {
      width: 8 * $size !important;
      margin: 0 !important;
    }
  }

  .el-pagination {
    padding: 0;

    li,
    .btn-prev,
    .btn-next {
      min-width: 2.8 * $size;
      margin-right: 0.5 * $size;
      font-weight: 500;
      background-color: $bg-color;
      border-radius: 0.2 * $size;
    }

    .btn-prev {
      padding-right: 0.6 * $size;
    }

    .btn-next {
      padding-left: 0.6 * $size;
    }

    li {
      &.active {
        color: $white-color;
        background-color: $base-color;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .pagination-box {
    .el-pagination {
      li,
      .btn-prev,
      .btn-next {
        min-width: 2.2 * $size;
        margin-right: 0.3 * $size;
      }

      .btn-prev {
        padding-right: 0.3 * $size;
      }

      .btn-next {
        padding-left: 0.3 * $size;
      }
    }
  }
}
