.not-found-page {
  display: flex;
  height: 100%;
  background-color: $white-color;
  justify-content: center;
  align-items: center;

  .not-found {
    text-align: center;
  }

  .code {
    margin-bottom: 2 * $size;
    line-height: 8 * $size;
    font-size: 8 * $size;
    color: $base-color;
    text-shadow: 0 0.1 * $size 0.5 * $size rgba(0, 0, 0, 0.28);

    span {
      margin: 0 0.5 * $size;
      color: $success-color;
    }
  }

  .desc {
    margin: 1 * $size 0;
    line-height: 2.8 * $size;
    font-size: 1.6 * $size;
    color: $gray-color;
  }
}