.uploader-view {
  display: flex;
  flex-wrap: wrap;

  .upload-item,
  .el-upload {
    position: relative;
    display: inline-flex;
    width: $size * 12;
    height: $size * 12;
    margin: 0 $size $size 0;
    overflow: hidden;
    cursor: pointer;
    border: $size * 0.2 dashed $border-color;
    border-radius: $size * 0.6;
    justify-content: center;
    align-items: center;

    &:hover {
      border-color: $base-color;

      .icon {
        color: $base-color;
      }
    }
  }

  .upload-item {
    border-style: solid;

    .icon {
      position: absolute;
      top: $size * 0.3;
      right: $size * 0.3;
      z-index: 1;
      padding: $size * 0.3;
      line-height: $size * 1.2;
      font-size: $size * 1.2;
      color: $white-color;
      background-color: rgba($black-color, 0.8);
      border-radius: 100%;
    }

    &:hover {
      .icon {
        color: $white-color;
        background-color: $base-color;

        &:hover {
          background-color: $red-color;
        }
      }
    }
  }

  .image-box {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.image-uploader {
  .icon {
    line-height: $size * 3.2;
    font-size: $size * 3.2;
    color: $gray-color;
  }
}