// element-variables.scss

/* 改变主题色变量 */
$--color-primary: $base-color !default;
$--border-color-base: $border-color !default;
$--border-color-hover: rgba($base-color, 0.38) !default;

$--color-success: $success-color !default;
$--color-warning: $warning-color !default;
$--color-danger: $danger-color !default;
$--color-info: $info-color !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

.el-menu {
  position: relative;
  padding-left: 0;
  margin: 0;
  color: $white-color;
  border-right-width: 0;
  background-color: $font-color;

  .el-menu {
    background-color: rgba($black-color, 0.68);
  }

  .el-submenu__icon-arrow {
    right: 2.8 * $size;
  }

  .el-submenu {
    border-bottom: 0.1 * $size solid rgba($black-color, 0.18);

    .el-menu-item {
      padding-left: 2.8 * $size !important;
    }
  }

  .el-menu-item {
    color: $white-color;
  }

  .el-submenu__title {
    display: flex;
    height: 4.5 * $size;
    padding-left: 0.8 * $size !important;
    line-height: 4.5 * $size;
    color: $white-color;
    border-left: 0.1 * $size solid transparent;
    align-items: center;

    &:hover {
      background-color: #292d2e;
    }

    i {
      color: $white-color;
    }

    span {
      padding-left: 1 * $size;
    }
  }

  .is-active {
    .el-submenu__title {
      border-left-color: $white-color;
    }

  }

  .el-menu-item {
    height: 4 * $size;
    padding-left: $size !important;
    line-height: 4 * $size;
    color: $white-color;
    vertical-align: middle;

    &:focus,
    &:hover {
      outline: 0;
      background-color: #292d2e;
    }

    &.is-active {
      color: $white-color;
      opacity: 1;
      background-color: rgba($base-color, 0.8);
    }

    i {
      color: $white-color;
    }

    span {
      padding-left: 1 * $size;
    }
  }

}

.el-tooltip__popper {
  max-width: 68%;
  line-height: 1.8 * $size;
}

.dialog-tree {
  max-height: 32 * $size;
  overflow-x: hidden;
  overflow-y: auto;
}

.el-dialog {
  .section-form {
    height: auto;
    padding-top: 0;
  }
}

.el-dialog__header {
  padding-top: 1 * $size;
  background-color: $bg-color;
}

.el-dialog__title {
  font-size: 1.6 * $size;
}

.el-dialog__headerbtn {
  top: 1.5 * $size;
  right: 1.5 * $size;
}

.el-dialog__body {
  padding-top: 2 * $size;
  padding-bottom: 2 * $size;
}

.el-dialog__footer {
  padding-bottom: 1 * $size;
  border-top: 0.1 * $size solid $border-color;
}