.contenteditable-input {
  position: relative;
  min-height: 200 * $size;
  -webkit-user-modify: read-write;
  user-select: text;
  -webkit-user-select: text;

  &[placeholder]:empty:before {
    content: attr(placeholder);
    color: $placeholder-color;
  }
}
