.login-page {
  display: flex;
  background: $base-color;
  background: linear-gradient(to bottom, $base-color, #c5daed);
  justify-content: center;
  align-items: center;

  .login-form {
    position: relative;
    z-index: 2;
    width: 50 * $size;
    padding: 3.8 * $size 5 * $size;
    background-color: $white-color;
    box-shadow: 0 0 1 * $size rgba($black-color, 0.28);
  }

  .form-title {
    margin-bottom: 3.8 * $size;
    line-height: 2.6 * $size;
    font-size: 2.6 * $size;
    color: $base-color;
    text-align: center;
    text-shadow: 0 0.3 * $size 0 rgba($black-color, 0.1);
  }

  .el-form-item {
    position: relative;

    .icon {
      position: absolute;
      top: 0;
      left: 1 * $size;
      z-index: 1;
      line-height: 4.8 * $size;
    }
  }

  .el-input__inner {
    height: 4.8 * $size;
    padding-left: 3.6 * $size;
    line-height: 4.8 * $size;
    border-radius: 0;
  }

  .form-btn {
    padding: 1 * $size 0;
    border-width: 0;

    .btn {
      display: flex;
      height: 4.8 * $size;
      font-size: 1.8 * $size;
      text-indent: 0.1 * $size;
      border-radius: 0;
    }
  }

  @media screen and (max-width: 640px) {
    .login-form {
      width: 31 * $size;
      padding: 3 * $size 2 * $size 2 * $size;
    }

    .form-title {
      margin-bottom: 3 * $size;
      line-height: 2.2 * $size;
      font-size: 2.2 * $size;
    }
  }
}
