.account-page {
  .listview {
    padding-top: 2 * $size;
  }

  .list-item {
    display: flex;
    padding: 1.5 * $size 2 * $size;
    border-top: 0.1 * $size solid $border-color;

    span {
      width: 8 * $size;
    }

    .txt {
      flex: 1;
    }

    a {
      margin-left: 0.5 * $size;
      color: $base-color;
    }
  }

  .img-box {
    display: inline-block;
    text-align: center;

    img {
      width: 8 * $size;
    }

    p {
      margin-top: 0.5 * $size;
    }
  }
}